.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 640px;
  height: 640px;
  border: 2px solid black;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.square.white {
  background-color: #eeeed2;
}

.square.black {
  background-color: #769656;
}
